<h1><%=@user.name%>の詳細ページ</h1>

<div class="mb-3">
  <h5>name: <%=@user.name%></h5>
</div>

<div class="mb-3">
  <h5>email: <%=@user.email%></h5>
</div>

<%= link_to "編集", "/users/#{@user.id}/edit", class: "btn btn-success" %>
<%= link_to "削除", "/users/#{@user.id}/destroy", data: { 'turbo-method' => :post }, class: "btn btn-danger" %>