<h1><%=@user.name%>の詳細ページ</h1>

<div>
    <p>name: <%=@user.name%></p>
</div>

<div>
    <p>email: <%=@user.email%></p>
</div>

<%=link_to("編集","/users/#{@user.id}/edit")%>
<%=link_to("削除","/users/#{@user.id}/destroy")%>
<br>
<br>
<%=link_to("一覧へ","/users/index")%>
