<h1><%= @user.name %>のいいねした投稿一覧</h1>
<% @likes.each do |like| %>
  <% @post = Post.find_by(id: like.post_id) %>

  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="<%= @post.image %>" alt="アニメ紹介画像">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @post.title %></h5>
          <p class="card-text">内容: <%= @post.content %></p>
          <p class="card-text">
            <small class="text-muted">点数: <%= @post.point %>点</small>
          </p>
          <p class="card-text">
            <small class="text-muted">ジャンル: <%= @post.genre %></small>
          </p>
          <p class="card-text">
            <small class="text-muted">投稿者: <%= @post.user.name %></small>
          </p>
          <br>
          <a class="btn btn-primary" href="/posts/<%= @post.id %>/show"><%= @post.title %>の詳細</a>
        </div>
      </div>
    </div>
  </div>
<% end %>