<h1>アニメ投稿一覧</h1>
      
<% @posts.each do |post| %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src="<%= post.image %>" alt="アニメ紹介画像">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text">内容:  <%= post.content %></p>
                <p class="card-text">
                    <small class="text-muted">点数: <%= post.point %>点</small>
                </p>
                <p class="card-text">
                    <small class="text-muted">ジャンル: <%= post.genre %></small>
                </p>
                <p class="card-text">
                    <small class="text-muted">投稿者: <%= post.user.name %></small>
                </p>

        <p class="card-text">
        <%good=Like.where(post_id: post.id).count%>
        いいね数: <%=good%>

    <%if post.user_id!=@current_user.id %>

    <% if Like.find_by(post_id: post.id, user_id: @current_user.id) %>
    <%= link_to "/likes/#{post.id}/destroy", data: { 'turbo-method' => :post } do %>
    <i class="fa-sharp fa-solid fa-heart"></i>
    <% end %>

    <% else %>
    <%= link_to "/likes/#{post.id}/create", data: { 'turbo-method' => :post } do %>
    <i class="fa-regular fa-heart"></i>
    <% end %>
    <% end %>
    <% end %>

</p>

                <br>
                <a class="btn btn-primary" href="/posts/<%= post.id %>/show"><%= post.title %>の詳細</a>
            </div>
        </div>
    </div>
</div>
<% end %>
