<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<main class="container">
<h1>アニメ投稿一覧</h1>

<ul>
    <% @posts.each do |post| %>
    <div>
    <li>
      
    <p><%= link_to(post.title, "/posts/#{post.id}/show") %></p>
    <%if post.user_id!=@current_user.id %>

    <% if Like.find_by(post_id: post.id, user_id: @current_user.id) %>
    <%= link_to "いいねを取り消す", "/likes/#{post.id}/destroy", data: { 'turbo-method' => :post } %>

    <% else %>
    <%= link_to "いいね", "/likes/#{post.id}/create", data: { 'turbo-method' => :post } %>
    <% end %>
    <%end%>

    <%@good=Like.where(post_id: post.id).count%>
    <p>いいね数: <%=@good%></p>

    </li>
    </div>
    <% end %>
</ul>

</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<br>
<div>
<%= link_to "新規投稿", "/posts/new", class: "btn btn-success" %> 
</div>