<h1>アニメ投稿一覧</h1>
<ul>
    <% @posts.each do |post| %>
    <div>
    <li>

    <%= link_to(post.title, "/posts/#{post.id}/show") %>
    
    <% if Like.find_by(post_id: post.id, user_id: @current_user.id) %>
    <%= link_to "いいねを取り消す", "/likes/#{post.id}/destroy", data: { 'turbo-method' => :post } %>
    <%@num=Like.where(post_id: post.id).count%>
    <%=@num%>
    <% else %>
    <%= link_to "いいね", "/likes/#{post.id}/create", data: { 'turbo-method' => :post } %>
    <%@num=Like.where(post_id: post.id).count%>
    <%=@num%>
    <% end %>

    </li>
    </div>
    <% end %>
</ul>
<br>
<div>
<%= link_to("新規投稿", "/posts/new") %>
</div>