<div class="row">
  <div class="col-6">
    <h1><%= @post.title %>の詳細ページ</h1>
    <div class="card mb-3">
      <%= image_tag @post.image.url, class: "card-img-top", alt: "アニメ画像" %>
      <div class="card-body">
        <h5 class="card-title"><%= @post.title %></h5>
        <p class="card-text"><%= @post.content %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= link_to "#{@user.name}", "/posts/#{@user.id}/detail" %></li>
        <li class="list-group-item">点数: <%= @post.point %>点</li>
        <li class="list-group-item">いいねの数: <%= @likes_count %></li>
        <li class="list-group-item">
          <% if @post.genre == "SF" %>
            ジャンル:
            <%= link_to(@post.genre, "/posts/sf") %>
          <% end %>
          <% if @post.genre == "アクション" %>
            ジャンル:
            <%= link_to(@post.genre, "/posts/action") %>
          <% end %>
          <% if @post.genre == "コメディー" %>
            ジャンル:
            <%= link_to(@post.genre, "/posts/comedy") %>
          <% end %>
        </li>
      </ul>
      <div class="card-body">
        <% if @current_user.id == @user.id %>
          <%= link_to "編集", "/posts/#{@post.id}/edit", class: "btn btn-success" %>
          <%= link_to "削除", "/posts/#{@post.id}/destroy", class: "btn btn-danger", data: { 'turbo-method' => :post } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-6">
    <h2>レビュー</h2>
    <%= form_tag("/reviews/create") do %>
      <div class="mb-3">
        <label class="form-label" for="point">評価</label>
        <input class="form-range" type="range" min="1" max="5" name="point" id="point">
      </div>
      <div class="mb-3">
        <label class="form-label" for="comment">コメント</label>
        <textarea class="form-control" name="comment" id="comment" cols="30" rows="7" required></textarea>
      </div>
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <button type="submit" class="btn btn-success">投稿する</button>
    <% end %>
    <br>
    <h1>レビュー一覧</h1>
    <% @reviews.each do |review| %>
      <% @user = User.find_by(id: review.user_id) %>
      <div class="card mb-3">
        <div class="card-body">
          <% num = 5 - review.point %>
          <h5 class="card-title">評価：
            <% review.point.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <% num.times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          </h5>
          <p class="card-text">コメント：<%= review.comment %></p>
          <p class="card-text">投稿者: <%= link_to "#{@user.name}", "/posts/#{@user.id}/detail" %></p>
          <% if @current_user.id == review.user_id %>
            <%= link_to "編集", "/reviews/#{review.id}/edit", class: "btn btn-success" %>
            <%= link_to "削除", "/reviews/#{review.id}/destroy", data: { 'turbo-method' => :post }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>