<h1><%=@post.title%>の詳細ページ</h1>

<div>
    <p>タイトル: <%=@post.title%></p>

    <% if @post.genre == "SF" %>
    <p>ジャンル: 
    <%=link_to(@post.genre,"/posts/sf")%>
    </p>
    <%end%>

    <% if @post.genre == "アクション" %>
    <p>ジャンル: 
    <%=link_to(@post.genre,"/posts/action")%>
    </p>
    <%end%>

    <% if @post.genre == "コメディー" %>
    <p>ジャンル: 
    <%=link_to(@post.genre,"/posts/comedy")%>
    </p>
    <%end%>
    <p>いいねの数: <%=@likes_count%></p>
    <p>コメント: <%=@post.content%></p>
    <p>点数: <%=@post.point%></p>

    <p>投稿者:
    <%=link_to(@user.name,"/posts/#{@user.id}/detail") %>
    </p>
    <p>投稿日: <%=@post.created_at%></p>
    <p>画像:</p>
    <img src="<%= "/post_images/#{@post.image_name}" %>">
</div>
<%if @current_user.id==@user.id %>
<%=link_to("編集","/posts/#{@post.id}/edit")%>
<%= link_to "削除", "/posts/#{@post.id}/destroy", data: { 'turbo-method' => :post } %>
<%end%>
<br>

<h1>レビュー一覧</h1>
<% @reviews.each do |review| %>
<% @user=User.find_by(id: review.user_id)%>
    <div>
        <p>-----------------------------------------------------------</p>
        <p>コメント: <%= review.comment %></p>
        <p>評価点数: <%= review.point %></p>
        <p>投稿日: <%= review.created_at %></p>
        <p>投稿者:
            <%=link_to(@user.name,"/users/#{@user.id}/show")%>
        </p>
    </div>
    <% if @current_user.id==review.user_id %>
    <%=link_to("編集","/reviews/#{review.id}/edit")%>
    <%= link_to "削除", "/reviews/#{review.id}/destroy", data: { 'turbo-method' => :post } %>

    <%end%>
<% end %>
<p>-----------------------------------------------------------</p>
<br>

<%= form_tag("/reviews/create") do %>
<h1>レビューを投稿</h1>
<div>
    <label for="comment">レビュー</label>
    <textarea rows="10" cols="50" name="comment" id="comment" required></textarea>
</div>
<div>
    <label for="point">評価点数</label>
    <input type="number" name="point" id="point" required>
</div>
<input type="hidden" name="post_id" value="<%=@post.id%>">
<br>
    <input type="submit" value="レビューを投稿">
<%end%>
<br>
<%=link_to("一覧へ","/posts/index")%>
