<h1><%=@post.title%>の詳細ページ</h1>

<div>
    <p>タイトル: <%=@post.title%></p>

    <% if @post.genre == "SF" %>
    <p>ジャンル: 
    <%=link_to(@post.genre,"/posts/sf")%>
    </p>
    <%end%>

    <% if @post.genre == "アクション" %>
    <p>ジャンル: 
    <%=link_to(@post.genre,"/posts/action")%>
    </p>
    <%end%>

    <% if @post.genre == "コメディー" %>
    <p>ジャンル: 
    <%=link_to(@post.genre,"/posts/comedy")%>
    </p>
    <%end%>

    <p>コメント: <%=@post.content%></p>
    <p>投稿者:
    <%=link_to(@user.name,"/users/#{@user.id}/show") %>
    </p>
    <p>投稿日: <%=@post.created_at%></p>
    <img src="<%= "/post_images/#{@post.image_name}" %>">
</div>

<%=link_to("編集","/posts/#{@post.id}/edit")%>
<%= link_to("削除", "/posts/#{@post.id}/destroy") %>
<br>
<br>
<%=link_to("一覧へ","/posts/index")%>